# Please refer to https://www.digitalocean.com/community/tutorials/how-to-manage-python-with-pyenv-and-direnv
if [ -f ".python-version" ] ; then
    if [ ! -d ".venv" ] ; then
        echo "Installing virtualenv for $(python -V)"
        python -m venv .venv
    fi
    source .venv/bin/activate
    echo "Activating .venv"
    echo "$(python -V)"
fi

# CLOUDSDK_ACTIVE_CONFIG_NAME=your-gcloud-config-name
unset GOOGLE_APPLICATION_CREDENTIALS
unset PS1
